* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #d5ffe9;
    height: 100vh;
    width: 100%;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;

}

/*Logo de la Academia*/
.logo {
    max-width: 5rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: rgb(92, 92, 92);
    
}

.span {
    color: rgb(52, 80, 206);
    font-size: 2.8rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}

.nav-list a {
    text-decoration: none;
    color: rgb(92, 92, 92);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.nav-list a:hover {
    color: rgb(52, 80, 206);
    transition: .3s;
}

.open-menu,
.close-menu {
    display: none;
}

.open-menu:hover,
.close-menu:hover {
    color: rgb(39, 39, 146);
    transition: .3s;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

/*Principal al inicio de la Landing Page*/
.hero {
    background-image: url(/img/Inglesimag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    object-fit: cover;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px transparent,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
}

.contenido-hero {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.contenido-hero h2,
.contenido-hero p {
    color: #ffffff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.h2 {
    font-family: serif;
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
 /*Garantizando el Responsive*/
@media screen and (max-width: 815px) {

    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .open-menu {
        color: #111111;
    }

    .open-menu:hover {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        padding: .1rem;
    }

    .close-menu {
        color: #ffffff;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #111111;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list a {
        color: #ffffff;
    }

    h2 {
        font-size: 1.8rem;
    }

    .span {
        font-size: 1.3rem;
    }

    .h2 {
        font-size: 2.5rem;
    }

    .contenido-hero {
        text-align: center;
        padding: 2rem;
    }
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}

.contenedor{
    margin: 1rem;
}



.h3 {
    color: rgb(92, 92, 92);
    font-size: 35px;
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin: 0 4rem;
    }

}

.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
    border-radius: 12%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px transparent,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    align-items: center;
}

.bloques{
    margin: 1rem;
}

.p_bloq{
    font-size: 15px;
    font-weight: 700;
    margin-top: 1rem;
}

.bloque_titulo{
    font-size: 20px;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

.nosotros_contenido {
    padding: 1rem;
}

.div {
    gap: 1rem;
    margin: 1rem 0;
    font-size: 17px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bloque_titulo {
    text-align: center;
    font-size: 20px;
}

.p_bloque{
    font-size: 18px;
    margin: 1rem;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem ;
    
}


.bloque {
    text-align: center;
    margin: 0;
}

.bloque_icon {
    width: 100%;
}

.cursar {
    color: #ffffff;
    background-image: url(/img/inglesimmg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;

}

.cursar__ {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px transparent,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
}

.cursar_titulo{
    color: #ffffff;
    margin: 2rem 0;
}

.section2 {
    background-color:  #ff9900 ;
    box-shadow: 0px 5px 20px 0px  #ff9900 ;
    margin: 7rem 2rem;
    padding: 4rem;
    text-align: center;
    font: oblique bold 120% cursive;
    font-size: 50px;
    border-radius: 20px;

}

@media (max-width: 768px) {
    .section2 {
        padding: 2rem;
        font-size: 27px;
    }
}

.h3__ {
    color: #ffffff;
}

.span__ {
    color: rgb(0, 0, 0);
}

.h22 {
    margin: 3rem 1rem;
    font-size: 40px;
}

.bloque2-1,
.bloque2-2,
.bloque2-3,
.bloque2-4 {
    padding: 1rem;
    line-height: 150%;
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
    
}

.bloque2-1{
    background-color: rgb(255, 241, 205);
    border: rgb(255, 107, 15) 1px solid;
    box-shadow: 0px 5px 15px 0px rgb(255, 123, 15);
}

.bloque2-2{
    background-color: rgb(211, 237, 255);
    border: rgb(12, 147, 196) 1px solid;
    box-shadow: 0px 5px 15px 0px rgb(12, 147, 196);
}

.bloque2-3{
    background-color: rgb(153, 255, 98);
    border: rgb(15, 69, 13) 1px solid;
    box-shadow: 0px 5px 15px 0px rgb(110, 226, 21);
}

.bloque2-4{
    background-color: rgb(255, 133, 133);
    border: rgb(255, 38, 38) 1px solid;
    box-shadow: 0px 5px 15px 0px rgb(255, 19, 19);
}

.bloques2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15rem;
    font-size: 15px;
}

@media (max-width: 768px) {
    .h22 {
        margin: 3rem;
        font-size: 30px;
    }

    .bloques2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
    }
}


.bloque2 {
    text-align: center;
    margin: 0;

}

.bloque_icon2 {
    width: 100%;
}

.finalidad{
    margin: 5rem 0;
}

.certificado{
    background: rgb(79,97,255);
    background: linear-gradient(155deg, rgba(79,97,255,1) 0%, rgba(45,134,253,1) 81%);  
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px transparent,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.9); 
   
}

.h3-1{
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.h3-3{
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.p{
    color: #ffffff;
    font-size: 23px;
}

.aprende{
    margin: 5rem 2rem;
}

.h2_a{
    font-size: 50px;
}

@media (max-width: 768px) {
    .h2_a{
        font-size: 40px;
    }
}

.hr{
    margin: 0 1rem;
    
}

.footer{
    margin-top: 1rem;
}

.p_footer{
    text-align: center;
    margin: 0 2rem 1rem;
}
