<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

        <!--Titulo de la Academia-->
    <title>JAMS ACADEMY</title>

        <!--Favicon de la Academia-->
    <link rel="icon" href="/img/logoJams.jpeg" type="image/jpeg">
</head>

<body>

    <!--Header de la Academia-->
    <header>
        <img class="logo" src="/img/logoJams.jpeg" alt="">
        <h2>JAMS <span class="span">ACADEMY</span> </h2>
        
        <!--Contiene solo dos botones: 
        1 boton para restaurar la pagina,
        1 boton para ingresar al contacto de WhatsApp de la Academia-->
        <button class="open-menu" id="open"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="close-menu" id="close"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="index.html">INICIO</a></li>
                <li><a href="https://wa.me/qr/DOHAASHSSGMRA1">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <!--Se trata del primer section de la Landing Page de la Academia-->
    <section class="hero">

        <div class="contenido-hero">
            <h2 class="h2">Desbloquea tu potencial en el inglés</h2>

            <div class="ubicacion">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="72"
                    height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>

                <!--Ubicacion de la Academia-->
                <p>San Juan de Los Morros, Guárico. Av. Bolivar, CC Marcebal.</p>

            </div>
        </div>
    </section>

    <!--Contenedor principal-->
    <main class="contenedor">

        <div class="nosotros">

            <div class="nosotros__contenido">
                <h3 class="h3">Aprende el inglés con los mejores maestros, con más de 25 años
                    de experiencia.</h3>

                <div class="div" style="display: flex">
                    <i class="fas fa-info-circle" style="color: rgb(255, 36, 36);"></i>
                    <div style="margin-left: 5px">¿Quieres mejorar tus habilidades en inglés
                        y alcanzar la fluidez que siempre has deseado? Nuestro curso de
                        inglés te ofrece la oportunidad perfecta para lograrlo.</div>
                </div>

                <div class="div" style="display: flex">
                    <i class="fas fa-info-circle" style="color: rgb(255, 36, 36);"></i>
                    <div style="margin-left: 5px">Con un enfoque práctico y dinámico, nuestros
                        profesores altamente calificados te guiarán en cada paso del camino
                        para que puedas dominar el idioma de forma efectiva.
                    </div>
                </div>
                <div class="div" style="display: flex">
                    <i class="fas fa-info-circle" style="color: rgb(255, 36, 36);"></i>
                    <div style="margin-left: 5px"> No pierdas más tiempo y comienza tu viaje hacia 
                        la fluidez en inglés hoy mismo. Con horarios flexibles y clases adaptadas 
                        a tus necesidades, nuestro curso se ajusta a tu ritmo de vida. </div>
                </div>

            </div>
            <img class="nosotros__imagen" src="/img/ingles_grande.jpg" alt="imagen nosotros">
        </div>

    </main>

    <!--Un section mencionando las razones para ingresar a la Academia-->
    <section class="cursar">
        <div class="cursar__">
            <h2 class="cursar_titulo">
                Razones para entrar a nuestra academia</h2>

                <!--Contenedor de bloques-->
            <div class="bloques">
                <div class="bloque">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon" width="80" height="80"
                        viewBox="0 0 24 24" stroke-width="1" stroke="#00abfb" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                        <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                        <path d="M5 8h4" />
                        <path d="M9 16h4" />
                        <path
                            d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
                        <path d="M14 9l4 -1" />
                        <path d="M16 16l3.923 -.98" />
                    </svg>
                    <h3 class="bloques_titulo">La mejor enseñanza</h3>
                    <p class="p_bloq">Al estudiar ingles, mejorarás tu capacidad de aprendizaje.
                        Preparándote para nuevos caminos y oportunidades.
                    </p>
                </div>
                <div class="bloque">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon" width="80" height="80"
                        viewBox="0 0 24 24" stroke-width="1" stroke="#00abfb" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M3 17c3.333 -3.333 5 -6 5 -8c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 4.877 2.5 6c1.5 2 2.5 2.5 3.5 1l2 -3c.333 2.667 1.333 4 3 4c.53 0 2.639 -2 3 -2c.517 0 1.517 .667 3 2" />
                    </svg>
                    <h3 class="bloques_titulo">La mejor escritura</h3>
                    <p class="p_bloq">Aprenderas una correcta escritura en el idioma. Mejorando la capacidad
                        de la sintaxis en el inglés.
                    </p>
                </div>
                <div class="bloque">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon" width="80" height="80"
                        viewBox="0 0 24 24" stroke-width="1" stroke="#00abfb" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 10a7 7 0 1 1 13 3.6a10 10 0 0 1 -2 2a8 8 0 0 0 -2 3a4.5 4.5 0 0 1 -6.8 1.4" />
                        <path d="M10 10a3 3 0 1 1 5 2.2" />
                    </svg>
                    <h3 class="bloques_titulo">Mejor entendimiento auditivo</h3>
                    <p class="p_bloq">Mejorarás tu sentido auditivo al oír e interactuar en
                        conversaciones durante las clases.
                    </p>
                </div>
                <div class="bloque">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon" width="80" height="80"
                        viewBox="0 0 24 24" stroke-width="1" stroke="#00abfb" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                    </svg>
                    <h3 class="bloques_titulo">Conviértete en un profesional</h3>
                    <p class="p_bloq">Conviértete en un profesional al mejorar tus habilidades
                        de manera exitosa en el inglés.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!--Contenedor section pequeño-->
    <section> 
        <div class="section2">
            <h3 class="h3__">¡Pierde el miedo <span class="span__">al hablar inglés!</span></h3>
        </div>
    </section>

    <!--Contenedor section mencionando los metodos que se utilizan para el
        aprendizaje en la Academia-->
    <section>
        <div>
            <h2 class="h22">Descubre nuetro metodo de aprendizaje</h2>
            <div class="bloques2">
                <div class="bloque2-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon2" width="100" height="100"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff9300" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
                        <path d="M19 16h-12a2 2 0 0 0 -2 2" />
                        <path d="M9 8h6" />
                    </svg>
                    <h3 class="bloque_titulo">Libro 1 para niños</h3>
                    <p class="p_bloq">El libro 1 es para aquellos pequeños que quieran iniciar con 
                        el idioma y mejorar poco a poco sus habilidades.
                    </p>
                </div>
                <div class="bloque2-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bloque_icon2" width="100" height="100"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#00bfd8" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
                        <path d="M19 16h-12a2 2 0 0 0 -2 2" />
                        <path d="M9 8h6" />
                    </svg>
                    <h3 class="bloque_titulo">Libro 2 para niños</h3>
                    <p class="p_bloq">El libro 2, es para aquellos pequeños que hayan logrado
                        completar la fase del libro 1.
                    </p>
                </div>
                <div class="bloque2-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
                        <path d="M19 16h-12a2 2 0 0 0 -2 2" />
                        <path d="M9 8h6" />
                      </svg>
                    <h3 class="bloque_titulo">Libro 1 para adultos</h3>
                    <p class="p_bloq">El libro 1 es para aquellos jóvenes y adultos que quieran
                        prepararse de manera profesional en el inglés.
                    </p>
                </div>
                <div class="bloque2-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="100"
                        height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
                        <path d="M19 16h-12a2 2 0 0 0 -2 2" />
                        <path d="M9 8h6" />
                    </svg>
                    <h3 class="bloque_titulo">Libro 2 para adultos</h3>
                    <p class="p_bloq">El libro 2, es para aquellos jóvenes y adultos que hayan logrado
                        completar la fase del libro 1.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--Contenedor section pequeño mencionando la finalidad con la que
    se creó la Academia-->
    <section class="finalidad">

        <div class="nosotros">

            <div class="nosotros__contenido">

                <h3 class="h3">¿Con que finalidad se creó esta academia?
                    Enseñar inglés al menor costo posible.
                </h3>
            </div>
            <img class="nosotros__imagen" src="/img/ingles-en-valladolid.webp" alt="imagen nosotros">
        </div>

    </section>

    <!--Contenedor utilizado para explicar como funciona la Academia-->
    <section class="certificado">
        <!--La clase "nosotros" se repetira varias veces en el codigo.
        Contando con algunas modificaciones al rededor de la Landing Page.-->
        <div class="nosotros">
            <h3 class="h3-1">Nuestra academia funciona de la siguiente manera: </h3>
        </div>

        <div class="nosotros">
            <div class="nosotros__contenido">
                <h3 class="h3-3">Exámenes escritos para demostrar tus conocimientos</h3>
                <p class="p">Al finalizar cada leccion del libro, se te establecerá un exámen escrito 
                    para demostrar tus conocimientos de la lección.
                </p>

            </div>

            <img class="nosotros__imagen" src="/img/personaEscribiendo.avif" alt="">
        </div>

        <div class="nosotros">
            <div class="nosotros__contenido">
                <h3 class="h3-3">Exámenes orales para mejorar tu pronunciación</h3>
                <p class="p">Se te presentarán exámenes orales para mejorar tu pronunciación
                    y mejorar tu léxico al vocalizar.</p>

            </div>

            <img class="nosotros__imagen" src="/img/personaHablando.jpg" alt="">
        </div>

        <div class="nosotros">
            <div class="nosotros__contenido">
                <h3 class="h3-3">Presentación de tu tema preferido</h3>
                <p class="p">Al finalizar cada libro, deberas realizar una presentación
                    sobre el tema de tu preferencia, esta presentación es obligatoria para lograr avanzar 
                    en el curso.
                </p>

            </div>

            <img class="nosotros__imagen" src="/img/personaPresentacion.jpg" alt="">
        </div>

        <div class="nosotros">
            <div class="nosotros__contenido">
                <h3 class="h3-3">Entrega de certificado</h3>
                <p class="p">Al finalizar el curso, se te entregará el certificado de aprobación.
                    Solo si haz completado todas las pruebas antes mencionadas.
                </p>

            </div>

            <img class="nosotros__imagen" src="/img/learnenglish.jpg" alt="">
        </div>

    </section>

    <!--Contenedor section utilizado para concluir con la Landing Page-->
    <section class="aprender">
        <div class="aprende">
            <h2 class="h2_a">¿Qué esperas? Aprende con Jams Academy</h2>
        </div>
    </section>

    <!--Linea de decoracion-->
    <section>
        <hr class="hr">
    </section>

    <!--Footer de la landing page-->
    <footer class="footer">
        <p class="p_footer">© 2024 Creada por Miguel Ponce. Todos los derechos reservados.</p>
    </footer>

    <!--Pequeño codigo JavaScript para crear un menu hamburguesa
    a la hora de utilizar la pagina de manera Responsive-->
    <script src="/js/main.js"></script>
</body>

</html>